@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Roboto:wght@300&family=Taviraj:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=IBM+Plex+Sans+Thai:wght@300&family=Roboto:wght@300&family=Taviraj:wght@300&display=swap');
*{
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Taviraj', serif;
}
body {margin:0;}
body{
    background-image: url(background1.png);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url(background1.png);
    background-size: cover;
    background-position: center;
}
.Logo{
    width: 250px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 8, 8);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    
    display: block;
    color: rgb(244, 245, 250);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(223, 78, 78);
}

.active {
    background-color: #775cdb;
}
h3{
    font-size: 80px;
    margin-top: 80px;
    color: aliceblue;
    text-align: center;
    
}
p{
    font-size: 40px;
    margin-top: 80px;
    color: aliceblue;
    text-align: center;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #070707;
    background: transparent;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}span{
    background: #e70b0b;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
